.Home{
    width: 100%;
    height: 100%;
}
.homeLeft{
    width: 60%;
    height: 79vh;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Line_1{
    font-family: 'Fira Code', 'Courier New', monospace;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    color: #E5E9F0;
}

.Name_{
    font-family: 'Fira Code', 'Courier New', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #E5E9F0;
}

.Line_2{
    font-family: 'Fira Code','Courier New', monospace;
    font-style: normal;
    font-weight: 450;
    font-size: 32px;
    color: #4D5BCE;

}

.homeRight{
    width: 40%;
    height: 79vh;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

.cursor {
    display: inline-block;
    width: 4px;
    height: 22px;
    background-color: white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  